<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


    <header><% include templates/header.ejs %></header>
	<h1><%= title %></h1>
	<div id="core">
		
		<div id="outsideWeather">
			<%= weather.name%><br/>
			<span id="outsideTemp"><%= weather.main.temp %>°C </span> <br/>
			Wind speed: <%= weather.wind.speed %><br/>
		</div>
		
		<div id="homeTemp">
		
			<div id="homeTemp_header">Home Thermometer</div>
			
			<div id="currentTemp">
				<div id="getTemp">
					<a href="/" id="loadData">Update Temperature</a>
				</div>

				<div id="myTemp">

					<%= home %> <%= unity %>
				</div>
			</div>
			
			<div id="updateTemp">
				<form method="post" action="/update">
				  New temp : <input type="number" name="changeTemp" >
					<button type="submit">change Temperature</button>
				</form>
				<form method="post" action="/switch" >
					Einheit:
					<button type = "submit">Switch Once</button>
				</form>

			</div>
		</div>
	</div>

  </body>
</html>
