<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/css/style.css' />
      	<link rel='stylesheet' href='/css/sidebar.css' />
      	<script>
          	function openNav() {
				document.getElementById("mySidebar").style.width = "250px";
              	document.getElementById("main").style.marginLeft = "250px";
          	}
          	function closeNav() {
              	document.getElementById("mySidebar").style.width = "0";
              	document.getElementById("main").style.marginLeft= "0";
          	}
      	</script>
  	</head>

	<body>
  		<% include sidebar.ejs %>

    	<div id="main">
    		<header><% include templates/header.ejs %></header>
			<h1><%= title %></h1>
			<div id="core">
				<style>
					#outsideWeather{
						background-image: url("/images/<%= weather.weather[0].main %>.jpg");
					}
				</style>

				<div id = "window">
					<div id="citychange">
						<form method="post" action = '/setCity'>
							<input type="text" id="newcity" name="changeCity" placeholder="Write new city here" />
							<button type="submit" onclick="setCity()"> Change city </button>
						</form>
					</div>

					<div id="outsideWeather">

						<div id="city"><%= weather.name%></div><br/>
						<div id="weather_main"><%= weather.weather[0].main %></div></br>
						<div id="outside_temp"><%= weather.main.temp %>°C</div> <br/>
						<div id="outside-humidity"><%= weather.main.humidity %>% humidity</div>

					</div>
				</div>

				<div id="homeTemp">
		
					<div id="homeTemp_header">Home Thermometer</div>
			
					<div id="currentTemp">
						<canvas id="viewport"></canvas>
						<div id="myTemp"><%= home %> <%= unity %></div>
						<div id="getTemp">
							<a href="/" id="loadData">Update Temperature</a>
						</div>
				</div>
			</div>
		</div>
		<script>
			var canvas = document.getElementById('viewport');
			canvas.height = 400;
			canvas.width = 300;
			var ctx = canvas.getContext('2d');
			var temp = <%= home %>;
			var unity = "<%= unity %>";
			if(unity != "°C"){
				temp = (temp - 32) / 1.8;
			}
			var mercury_left = 237, mercury_level_0_deg = 237, one_deg_space = 4,
				mercury_width = 17, mercury_down = 150;
			make_base();

			function make_base()
			{
				base_image = new Image();
				base_image.src = '/images/thermometer.jpg';
				base_image.onload = function(){
					ctx.drawImage(base_image, 200, 0, 92, 400);
					ctx.fillStyle="red";
					ctx.fillRect(mercury_left,mercury_level_0_deg - temp * one_deg_space,
						mercury_width, mercury_down + temp * one_deg_space);
				}
			}
		</script>
  	</body>
</html>
