<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <h1>Home</h1>


    <br/>
    <br/>

    <div id="getTemp">

        <a href="/get-data" id="loadData">Refresh Temperature</a>
    </div>


      <div id="actualTemp">
        <%= home
        %> °C.
      </div>

    <div id="updateTemp">
        <h1>Update</h1>
        <form method="post" action="/update">
          New temp : <input type="number" name="changeTemp" >
            <button type="submit">UPDATE</button>
        </form>

    </div>

    <br/><br/>


  Temp outside <%= weather.main.temp %> <br/>
  Wind speed <%= weather.wind.speed %><br/>
  Name city <%= weather.name%><br/>




  </body>
</html>
